@model VendingMachineApp.ModelViewModel.ProductViewModels

@{
    ViewData["Title"] = "Delete Product";
}

<h1>Konfirmasi Hapus Produk</h1>

<div>
    <p>Anda yakin ingin menghapus produk ini?</p>
    <dl class="row">
        <dt class="col-sm-2">Nama Produk</dt>
        <dd class="col-sm-10">@Model.Name</dd>
        
        <dt class="col-sm-2">Harga</dt>
        <dd class="col-sm-10">@Model.Price.ToString("C")</dd>

        <dt class="col-sm-2">Jumlah</dt>
        <dd class="col-sm-10">@Model.Quantity</dd>
    </dl>

    <form method="post" asp-action="Delete">
        <input type="hidden" name="id" value="@Model.IdProduct" />
        <button type="submit" class="btn btn-danger">Hapus Produk</button>
        <a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Batal</a>
    </form>
</div>
