@model VendingMachineApp.ModelViewModel.ProductViewModels

@{
    ViewData["Title"] = "Product List";
}


<h1>Daftar Produk</h1>

<form method="get" asp-action="Index" class="form-inline">
    <div class="form-group">
        <label for="searchString">Cari Produk</label>
        <div class="row mb-2">
            <div class="col-5">
                <input type="text" id="searchString" name="searchString" class="form-control" value="@Model.SearchString" />
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-primary w-100">Cari</button>
            </div>
        </div>
    </div>
</form>


<a href="@Url.Action("Create", "Product")" class="btn btn-primary">Tambah Produk</a>

<table class="table">
    <thead>
        <tr>
            <th>Produk ID</th>
            <th>Nama Produk</th>
            <th>Harga</th>
            <th>Jumlah</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.IdProduct</td>
                <td>@product.Name</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.Quantity</td>
                <td>
                    <a href="@Url.Action("Edit", "Product", new { id = product.IdProduct })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", "Product", new { id = product.IdProduct })" class="btn btn-danger">Hapus</a>
                </td>
            </tr>
        }
    </tbody>
</table>
